.logo {
  display: flex;
  position: sticky;
  align-items: center;
}

.logo img {
  width: 120px;
  height: 40px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  margin-top: 5px;
  margin-left: 10px;
}

.navbar {
  box-shadow: 0 7px 6px -6px #999;
}