.nav-link {
    color: var(--color-secondary) !important;
}

.nav-link:active {
    color: black !important;
}

.burger-menu {
    margin-left: 10px;
    position: relative;
}

.burger-menu .dropdown-menu {
    z-index: 2000 !important;
    position: absolute;
}