.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 20px;
}

.input-group .btn{
    background-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-bg);
    color: white;    
}

.input-group .btn:hover{
    background-color: var(--btn-primary-hover);
    border-color: var(--btn-primary-hover);
    color: white;    
}

