.app {
  position: relative;
  z-index: 1;
  background-color: var(--white);
  font-family: 'Roboto', sans-serif;
}

/* Removes the dropdown arrow from all dropdowns (burger icon acts as dropdown) */
.dropdown-toggle::after {
  display: none !important; 
}

:root {
  /* Main colors */
  --color-primary:#425B77;
  --color-secondary:#54595f;
  --color-accent: #C39B9C;

  /* Primary color */
  --color-primary-light: #ecf5ff;
  --color-primary-light-2: #5f82a9;

  --color-text: #000000;
  --color-border: #425B77;

  /* Buttons */
  --btn-primary-bg: var(--color-primary);
  --btn-primary-hover: var(--color-primary-light-2);
  --btn-primary-active: var(--color-primary-dark);
  --btn-primary-label: var(--white);
}